.alert {
    color: var(--danger);
    background-color: var(--warning);
    padding: 0.25rem 0.5rem;
}

.main {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 5rem);
}

.filters {
    height: calc(100% - 2rem);
    overflow-y: auto;
    width: 25%;
    max-width: 15rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border: 5px solid var(--secondary);
    background-color: var(--primary);
}

.mushrooms {
    height: calc(100% - 2rem);
    overflow-y: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    flex: 1;
}

.mushroom {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--primary);

    &.E {
        border: 5px solid var(--success);
    }
    &.P {
        border: 5px solid var(--danger);
    }
    &.EB {
        border: 5px solid var(--caution);
    }
    &.I {
        border: 5px solid var(--grey);
    }
    &.D {
        border: 5px solid var(--death);
    }
    &.NR {
        border: 5px solid var(--warning);
    }
}

.img {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.name {
    padding: 0 0.5rem;
}

.detail {
    height: calc(100% - 2rem);
    overflow-y: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    width: 35%;
    max-width: 25rem;
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-name {
    font-size: 1.5rem;
}

.tag {
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    color: var(--white);

    &.E {
        background-color: var(--success);
    }
    &.P {
        background-color: var(--danger);
    }
    &.EB {
        background-color: var(--caution);
    }
    &.I {
        background-color: var(--grey);
    }
    &.D {
        background-color: var(--death);
    }
    &.NR {
        background-color: var(--warning);
    }

    .warn-message {
        font-size: 0.75rem;
        font-style: italic;
    }
}

.spacer {
    height: 3px;
    width: 100%;
    opacity: 0.5;
    background-image: linear-gradient(90deg, var(--secondary), transparent);
}

.detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 15rem;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    &.half {
        height: 7.5rem;

        img {
            width: 50%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.detail-info {
    margin: 1rem 0;

    div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.25rem;

        span.label {
            font-weight: bold;
            white-space: nowrap;
            color: var(--secondary);
        }

        &.peculiarity {
            background-color: var(--violet);
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
            margin-bottom: 1rem;
        }

        &.info {
            background-color: var(--azure);
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
            margin-bottom: 1rem;
        }
    }
}

.wiki {
    margin-top: 1rem;
}

.message {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
}