@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

// Variables will be overwritten by themes.service.ts
:root {
    --white: #e7e7e7;
    --black: #111;
    --primary: #0e361c;
    --secondary: #19541f;
    --accent: #446c48;
    --accentLight: #8a9f71;
    --light: #7c9060;
    --dark: #042514;
    --danger: #721f2a;
    --success: #3d612e;
    --warning: #bd862d;
    --background: url('/assets/images/leaves_dark.jpg');
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark);
}

* {
    box-sizing: border-box;
    // border: 2px solid red;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
    background-image: var(--background);
    background-size: cover;
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;;
}